<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zalocoders.assignmentninja">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MembersList">
        </activity>


        <activity android:name=".Views.Activities.BottomActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>


        </activity>


        <activity android:name=".Views.Activities.ViewTests"></activity>
        <activity
            android:name=".Views.Activities.ViewAssignmentActivity"
            android:theme="@style/AppTheme.ActionBar" />
        <activity android:name=".Views.Activities.LoginActivity" />
        <activity android:name=".Views.Activities.SignUpActivity" />
        <activity android:name=".Views.Activities.MainActivity" />
        <activity android:name=".Views.Activities.SplashScreenActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>